# pycache will not be saved
__pycache__

# Virtual Enviornment Folder
.venv

# Enviornment Variables not included
.env

# Flask Migration folder
migrations

# API key/token Info Folder
_api

# Node.js for React
node_modules
